@font-face {
    font-family: 'Calculator';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Calculator.ttf') format('opentype');
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Calculator';
    font-size: 35px;
}
#header {
    align-items: center;
}

.calculator {
    background-color: beige;
}

#screen {
    background-color: #B0C478;
    width: 360px;
    height: 50px;   
    justify-items: end;
}

p {
    margin-right: 10px;
    
}


