@font-face {
    font-family: 'Calculator';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Calculator.ttf') format('opentype');
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Calculator';
    font-size: 35px;
}
#header {
    align-items: center;
}

.calculator {
    background-color: grey;
    justify-content: center;
    width: 400px;
    height: 500px;
}

#screen {
    background-color: #B0C478;
    width: 360px;
    height: 50px;   
    justify-items: end;
    margin-left: 18px;
}

p {
    margin-right: 10px;
    
}

#buttons {
    flex-direction: row;

}

#numbers {
    width: 210px;
    height: 240px;

    /* margin-right: 100px; */

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.numberButtons {

    /* border: 1px; */
    border-radius: 6px;
    background-color: black;
    color: white;
    font-size: 32px;
    height: 60px;
    width: 60px;
    margin-top: 10px;
    margin-right: 2px;
}

#operations {
    width: 120px;
    height: 80px;

    /* margin-right: 100px; */

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.operationButtons {

    /* border: 1px; */
    border-radius: 6px;
    background-color: white;
    font-size: 32px;
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-right: 2px;
}


